@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  background: transparent;

  margin: 0;
  padding: 0;

  z-index: 1;

  #logo {
    position: absolute;
    left: 5vw;
    top: 2.5vh;
    text-decoration: none;
    color: white;

    font-size: 2.5em;
    font-weight: 999;

    font-family: 'Great Vibes', cursive;
  }

  .change-name {
    position: absolute;
    right: 5vw;
    top: 2.5vh;

    height: 100%;
  }
}

input[type='text'] {
  margin: 1vh;
  height: 35%;

  padding: 1vh;
  width: 15vw;

  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background: #2d2d2d;
  border-radius: 1vh;
  color: white!important;
}

input[type='submit'] {
  margin: 1vh;
  height: 50%;

  padding: 1vh;
  width: 10vw;
  border: none;

  color: #b7b7b7;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background: #2d2d2d;
  border-radius: 1vh;
}